USE [master]
GO
/****** Object:  Database [QLNV]    Script Date: 21/12/2024 12:21:19 PM ******/
CREATE DATABASE [QLNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNV]
GO
/****** Object:  Table [dbo].[LOAI_NV]    Script Date: 21/12/2024 12:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_NV](
	[MA_LOAI] [int] NOT NULL,
	[MO_TA] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAI_NV] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 21/12/2024 12:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN] [nvarchar](250) NULL,
	[LUONG_CB] [money] NULL,
	[LUONG_HT] [money] NULL,
	[SO_SP] [int] NULL,
	[SO_NG] [int] NULL,
	[MA_LOAI] [int] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 21/12/2024 12:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](50) NULL,
	[password] [nchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOAI_NV] ([MA_LOAI], [MO_TA]) VALUES (1, N'Nhân viên văn phòng')
INSERT [dbo].[LOAI_NV] ([MA_LOAI], [MO_TA]) VALUES (2, N'Nhân viên bán hàng')
GO
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON 

INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [LUONG_CB], [LUONG_HT], [SO_SP], [SO_NG], [MA_LOAI]) VALUES (9, N'a', 7000000,0000, NULL, NULL, 22, 1)
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [LUONG_CB], [LUONG_HT], [SO_SP], [SO_NG], [MA_LOAI]) VALUES (10, N'b', 80000000,0000, NULL, NULL, 21, 1)
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [HO_TEN], [LUONG_CB], [LUONG_HT], [SO_SP], [SO_NG], [MA_LOAI]) VALUES (11, N'ABC', 7000000,0000, NULL, NULL, 18, 1)
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [username], [password]) VALUES (1, N'cuong                                             ', N'gAAAAABnZYxEuMT0UrXoXk9lt9iYdMaZgKj01k3rCD0Y4abkP5fkHIqJpwSgzKW6dTRs18LBkrevH59gTGjZzUtnP2NuTBx_cA==                                                                                                                                                                                                        ')
INSERT [dbo].[USERS] ([ID], [username], [password]) VALUES (2, N'tom                                               ', N'gAAAAABnZY9x55AKvX7pT16HgYxeCFCFsYmMIz-IEEswKcM8AYDouNqwJaRdpZAkDuo-SSYRsMjn1fyR3QWHkU8EDWCpxZMiLw==                                                                                                                                                                                                        ')
INSERT [dbo].[USERS] ([ID], [username], [password]) VALUES (3, N'cuong1                                            ', N'gAAAAABnZjMYWSF9vto-Xx6cYATkxTLD2qQvtaYmxaM10uvU1iwqd3ZHI5D9bGWI06qdzLHOXUkmS27czYaf1-omRzQJ8HkWSg==                                                                                                                                                                                                        ')
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_LOAI_NV] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_NV] ([MA_LOAI])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_LOAI_NV]
GO
USE [master]
GO
